.mainContainer{
    width: 100%;
    height: auto; 
    
    .containerCards{
        width: 90%;
        height: auto;
        margin: auto;                
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;              
    }
}

@media(max-width:380px){
    .mainContainer{
        width: 100%;
        height: auto;              
        
        .containerCards{
            width: 100%;           
            margin: auto;                
            display: grid;            
            grid-template-columns: 1fr;                  
        }
    }
}

